{% extends 'manager/base.html.twig' %}

{% block title %}Login Manager{% endblock %}

{% block body %}
    <h2>Acceso al Manager</h2>

    {% if error %}
        <div style="color: red;">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form method="post">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{ last_username }}" required autofocus>
        
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Iniciar Sesión</button>
    </form>
{% endblock %}
